In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/Exercise/titanic.csv'
df = pd.read_csv(url,index_col=0)

In [3]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.drop(['Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'], axis='columns', inplace=True)

In [12]:
df.head()

             Survived  Pclass     Sex   Age     Fare
PassengerId
1                   0       3    male  22.0   7.2500
2                   1       1  female  38.0  71.2833
3                   1       3  female  26.0   7.9250
4                   1       1  female  35.0  53.1000
5                   0       3    male  35.0   8.0500

In [13]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [15]:
inputs['Sex'] = inputs['Sex'].replace(['male', 'female'], [1,2])

In [16]:
inputs.head()

             Pclass  Sex   Age     Fare
PassengerId
1                 3    1  22.0   7.2500
2                 1    2  38.0  71.2833
3                 3    2  26.0   7.9250
4                 1    2  35.0  53.1000
5                 3    1  35.0   8.0500

In [19]:
inputs.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [21]:
inputs['Age'].fillna(inputs['Age'].mean(), inplace=True)

In [22]:
inputs.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [25]:
X_train.shape, len(X_train)

((712, 4), 712)

In [52]:
from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='gini', max_depth=7, min_samples_split=3)

In [53]:
model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=7,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [54]:
model.score(X_test, y_test)

0.8268156424581006

In [59]:
X_test.shape

(179, 4)

In [61]:
type(X_test)

pandas.core.frame.DataFrame

In [67]:
X_test[:1]

             Pclass  Sex   Age   Fare
PassengerId
89                1    2  23.0  263.0

In [68]:
y_test[:1]

PassengerId
89    1
Name: Survived, dtype: int64

In [69]:
model.predict(X_test[:1])

array([1], dtype=int64)